body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

main {
  padding-bottom: 30px;
}

.container-sim {
  grid-area: corpo;
  max-width: 1000px;
  min-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  animation: animation 2s ease alternate infinite;
  background: -moz-linear-gradient(-40deg, #ecb743, #fddc9f);
  border-radius: 32px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  margin: 10px;
  font-weight: bolder;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
input,
select {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  background-color: rgb(212, 212, 212);
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 15px;
  background-color: #dd9d27;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #ffb406;
}

.resultado {
  margin-top: 30px;
  animation: animation 2s ease alternate infinite;
  background: -moz-linear-gradient(
    -40deg,
    rgb(168, 168, 168),
    rgb(199, 199, 199)
  );
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
}
