.wrapper {
  display: grid;
  grid-template-columns: 100% 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "cabecalho cabecalho"
    "corpo corpo"
    "rodape rodape";
}

@media (max-width: 100px) {
  .wrapper {
    grid-gap: 0;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "cabecalho"
      "corpo"
      "rodape";
  }
}
#conteudo {
  grid-area: corpo;
  background-color: #ffff;
  align-items: center;
}
header {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header h5 {
  font-weight: bolder;
  border: 20px;
  color: orange;
}
input {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  background-color: rgb(212, 212, 212);
}

li a {
  font-weight: bolder;
}

.nav-item {
  color: rgb(0, 0, 0);
  font-weight: 500;
  position: relative;
}
.nav-item:hover,
.nav-item.active {
  color: rgb(255, 145, 0);
}
@media (min-width: 991px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 2px;
    background-color: #ebb147;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }
  .nav-link:hover::before,
  .nav-link.active:hover::before {
    border: 10px;
    width: 100%;
    visibility: visible;
  }
}
footer {
  background-color: #e8e6e6;
  border-radius: 25px;
  grid-area: rodape;
}
